/* General Styles */
:root {
    --primary-color: #121212;
    --secondary-color: #575757;
    --highlight-color: #777474;
    --text-color: #fefefe;
    --border-color: #858282;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --font-family-primary: Georgia, sans-serif;
    --font-family-secondary: Tahoma, serif;
    --font-family-logo-footer: Georgia, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    
}

body {
    color: var(--text-color);
    margin: 0;
    font-family: var(--font-family-primary);
    background-color: var(--primary-color);
    border-radius: 1vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Header Styles */
/* Header Styles */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    position: relative; /* Ensure the header content is positioned correctly */
    z-index: 1001; /* Ensure it is above the navbar */
    
}



/* Navbar Styles */
.navbar {
    display: block;
    width: 100%;
    margin-top:2px;
    overflow-x: auto;
    white-space: nowrap;
    /*border: 1px solid var(--border-color);*/
    height: 7vh;
    border-left: none;
    border-right: none;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px var(--shadow-color); /* Add shadow for visual separation */

}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    height: 100%; /* Ensure the list items take the full height of the navbar */
    align-items: center;
}

.navbar li {
    display: inline-flex; /* Use inline-flex for better alignment */
    font-weight: bold;
    border: 3px solid #57CC99;
    border-radius: 2vh;
    background-color: var(--primary-color);
    margin-right: 1vh;
    justify-content: center;
    align-items: center; /* Center the content vertically */
}

.navbar a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 10px 19px;
    text-decoration: none;
    font-size: large;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover::before {
    transform: scaleX(1); /* Scale the underline to full width */
    transform-origin: bottom left; /* End animation at the left */
}

.navbar a:hover {
    animation: colorChange 0.3s forwards; /* Animation on hover */
}


/* Main Content Styles */
main {
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: block;
    flex-direction: column;
    overflow-y: scroll; /* забезпечує прокрутку по вертикалі */
    scroll-behavior: smooth; /* забезпечує плавну прокрутку */
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    margin-top: 6vh;
    height: calc(100vh - 6vh); /* Висота main повинна бути динамічною */
}



/* Article Styles */
article {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    border: 0.3px solid var(--border-color);
    color: var(--text-color);
    text-shadow: 2px 2px 4px var(--shadow-color);
    font-weight: bold;
    border-left: none;
    border-right: none;
}

article img{
    width: 30vh;
    border: 1vh solid #272829;

}

.item {
    font-size: 2.8vh;
}

.money {
    font-size: 2.3vh;
    color: #57CC99;
}


article i {
    font-size: 1.9vh;
    color: var(--highlight-color);
    align-items: end;
    align-content: end;
}

/* Category Styles */
.category {
    display: flex;
    background-color: #272829;
    width: 100%;
    font-size: 5vh;
    padding: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-family: var(--font-family-secondary);
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    font-size: 2.5vh;
    color: var(--text-color);
    text-shadow: 2px 2px 4px var(--shadow-color);
    margin-top: 1vh;
    border: 0.3px solid var(--border-color);
    border-left: none;
    border-right: none;
}

footer a {
    color: #57CC99;          /* Sets the text color of links in the footer */
    text-decoration: none;   /* Removes the underline from links */
    transition: color 0.3s;  /* Adds a smooth transition effect on hover */
    font-style: oblique;
}

footer a:hover {
    color: #3FA16C;          /* Changes the text color on hover */
    text-decoration: underline; /* Adds an underline on hover */
}

.shapka {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    padding: 3vh;
}

.shapka img {
    width: 14vh;
    height: auto;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--font-family-logo-footer);
    color: var(--text-color);
    text-shadow: 2px 2px 4px var(--shadow-color);
    margin: 0vh 0vh 0vh 4vh;
}

/*Перемикач теми*/
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303136;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    top: 50%;
    transform: translateY(-50%);
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
    transition: .4s;
}

input:checked + .slider {
    background-color: #f4f4f5;
}

input:checked + .slider:before {
    left: var(--slider-offset, 0.3em);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
}



@keyframes colorChange {
    0% {
        color: var(--text-color);
    }
    100% {
        color: #57CC99;
    }
}

