/* General Styles */
:root {
    --primary-color: #121212;
    --secondary-color: #575757;
    --highlight-color: #bbb6b6;
    --text-color: #fefefe;
    --border-color: #858282;
    --shadow-color: rgba(0, 0, 0, 0.7);
    --font-family-primary: Arial, sans-serif;
    --font-family-secondary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-family-logo-footer: "Brush Script MT", cursive;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: var(--text-color);
    margin: 0;
    font-family: var(--font-family-primary);
    background-color: var(--primary-color);
    scroll-behavior: smooth;
    border-radius: 1vh;
}

/* Header Styles */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Logo Styles */
#logo {
    display: flex;
    width: 99%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 9vh;
    font-family: var(--font-family-logo-footer);
    color: var(--text-color);
    text-shadow: 2px 2px 4px var(--shadow-color);
    margin: 0;
    border: 1px solid var(--border-color);
}

/* Navbar Styles */
.navbar {
    width: 99%;
    overflow-x: auto;
    white-space: nowrap;
    border: 1px solid var(--border-color);
    height: auto;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    height: auto;
}

.navbar li {
    display: inline;
}

.navbar a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 10px 19px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: var(--secondary-color);
}

/* Main Content Styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: 0 4px 8px var(--shadow-color);
    margin-top: 23vh; /* Adjust based on navbar height */
}

/* Article Styles */
article {
    display: flex;
    flex-direction: row;
    width: 95%;
    padding: 10px;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    text-shadow: 2px 2px 4px var(--shadow-color);
    justify-content: flex-start;
}

.item {
    font-size: 2.8vh;
}

.money {
    font-size: 2.3vh;
}

article i {
    font-size: 1.9vh;
    color: var(--highlight-color);
    align-items: end;
    align-content: end;
}

/* Category Styles */
.category {
    display: flex;
    background-color: #272829;
    width: 95%;
    font-size: 5vh;
    padding: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    font-family: var(--font-family-secondary);
}

/* Footer Styles */
footer {
    width: 100%;
    height: 10vh;
    font-size: 9vh;
    font-family: var(--font-family-logo-footer);
    color: var(--text-color);
    text-shadow: 2px 2px 4px var(--shadow-color);
    margin-top: 1vh;
    bottom: 0;
    border: 1px solid var(--border-color);
}
